<nav>
    <ul>
        <li>
            <a href="/" rel="noopener noreferrer">Home</a>
        </li>
        <li>
            <a href="/projects" rel="noopener noreferrer">Projects</a>
        </li>
        <li>
            <a href="/tasks" rel="noopener noreferrer">Tasks</a>
        </li>
        <li>
            <a href="/about" rel="noopener noreferrer">About</a>
        </li>
        <li>
            <a href="/create_task" rel="noopener noreferrer">Create Task</a>
        </li>
    </ul>
</nav>

{% block content %}
{% endblock %}